* {
    font-size: 30px;
}

span {
    color: red;
}

#sbject {
    color: blue !important;
}

#sbject {
    color: burlywood;
}

.content {
    color: pink;
}
/* 캐스케이딩(위에서 아래로 계단식 적용) 예시 */
.content {
    color: brown;
}

h1, 
p, 
span {
    background-color: aqua;
}


